.halo-notification-popup {
    width: 100%;
    max-width: 100%;
    top: auto;
    left: 0;
    bottom: 0;
    transition: transform var(--duration-default) ease, visibility var(--duration-default) ease;
    transform: translate3d(-10px,0,0);
}

.product-suggest{
    font-size: 0;
    letter-spacing: 0;
    overflow: hidden;
}

.product-suggest .product-image {
    display: inline-block;
    vertical-align: top;
    width: 75px;
    height: 110px;
    position: relative;
    overflow: hidden;
}

.product-suggest .product-image svg{
    display: block;
    position: absolute;
    z-index: 4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
    fill: var(--color-white);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.product-suggest .product-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%,-50%);
}

.product-suggest .product-info {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 75px);
    padding: 8px 35px 10px 19px;
}

.product-suggest .product-info .text{
    padding: 0 0 6px 0;
}

.product-suggest .product-info .word,
.product-suggest .product-info .time{
    display: block;
    font-size: calc(var(--font-size) - 2px);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
}

.product-suggest .product-info .text .word{
    font-weight: var(--font-weight-bold);
    color: var(--color-text);
}

.product-suggest .product-info .text .time{
    font-weight: var(--font-weight-normal);
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    color: var(--color-grey);
}

.product-suggest .product-info .product-name{
    font-size: calc(var(--font-size) - 1px);
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
    color: var(--color-text2);
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}

.halo-notification-popup.is-active {
    transform: translate3d(0,0,0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

@media screen and (min-width: 551px){
    .halo-notification-popup {
        max-width: 420px!important;
        bottom: 15px;
    }

    .halo-notification-popup.halo-popup-left{
        left: 15px;
    }

    .halo-notification-popup.halo-popup-right{
        left: auto;
        right: 15px;
        transform: translate3d(10px,0,0);
    }
}

@media screen and (min-width: 1025px){
    .halo-notification-popup {
        bottom: 40px;
    }

    .product-suggest .product-image:before{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
        opacity: 0;
        visibility: hidden;
        background: rgba(0,0,0,.3);
        transition: var(--anchor-transition);
    }

    .product-suggest .product-image:hover:before,
    .product-suggest .product-image:hover svg{
        opacity: 1;
        visibility: visible;
    }

    .halo-notification-popup.halo-popup-left{
        left: 40px;
    }

    .halo-notification-popup.halo-popup-right{
        right: 40px;
    }
}