.product-item{
    position: relative;
    letter-spacing: 0;
    font-size: 0;
}

.card {
    overflow: hidden;
    position: relative;
}

.card-product{
    position: relative;
    z-index: 1;
}

.card-media{
    display: block;
    position: relative;
    overflow: hidden;
}

.card-media > img{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    max-width: 100%;
    cursor: pointer;
    object-fit: cover;
    object-position: center center;
    transition: opacity .4s cubic-bezier(.25, .46, .45, .94);
}

.card-media > img + img{
    opacity: 0;
}

.card-product--padding{
    border: .1rem solid var(--color-background-20);
}

.card-product--padding .card-product__wrapper{
    padding: 2rem;
}

.card-information{
    padding: 14px 0 0 0;
}

.card-information__group{
    margin: 0 0 6px 0;
}

.card-vendor{
    overflow: hidden;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    font-size: var(--font-size);
    font-weight: var(--font-weight-bold);
    color: var(--product-vendor-color);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
    width: 100%;
    text-transform: capitalize;
}

.card-vendor a{
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    line-height: inherit;
    letter-spacing: inherit;
}

.card-review{
    font-size: 0;
    letter-spacing: 0;
    margin: 5px 0 0 0;
}

.card-review .spr-badge-caption{
    display: none!important;
}

.card-title{
    display: block;
    font-family: var(--product-title-font);
    font-size: var(--product-title-font-size);
    font-weight: var(--product-title-font-weight);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
    text-transform: var(--product-title-text-transform);
    color: var(--product-title-color);
    margin: 0 0 10px 0;
}

.card-title-ellipsis{
    overflow: hidden;
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: var(--product-title-line-text);
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}

.card-price{
    font-size: calc(var(--font-size) + 2px);
    font-weight: var(--font-weight-bold);
    letter-spacing: var(--letter-spacing);
    line-height: var(--line-height);
    color: var(--product-price-color);
}

.card-quickview .quickview-button{
    color: var(--product-quick-view-color);
    background-color: var(--product-quick-view-bg);
    border-color: var(--product-quick-view-bg);
    padding-top: calc(var(--btn-padding-top) - 5px);
    padding-bottom: calc(var(--btn-padding-bottom) - 5px);
    min-width: 150px;
    width: auto;
}

.card-quickview .quickview-icon,
.card-wishlist .wishlist-icon,
.card-compare .compare-icon{
    display: block;
    text-align: center;
    position: relative;
    width: 32px;
    height: 32px;
    padding: 8px;
    line-height: 1;
    border-radius: 50%;
    font-size: 0;
    letter-spacing: 0;
    cursor: pointer;
}

.card-quickview .quickview-icon{
    background-color: var(--product-quick-view-bg);
}

.card-quickview .text,
.card-wishlist .text,
.card-compare .text{
    display: block;
    white-space: nowrap;
    font-size: calc(var(--font-size) - 4px);
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height);
    letter-spacing: var(--letter-spacing);
    text-transform: uppercase;
    width: auto;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 50%;
    right: calc(100% + 20px);
    padding: 7px 10px;
    transform: translateY(-50%);
    transition: var(--anchor-transition);
    transition-duration: var(--duration-default);
    pointer-events: none;
}

.card-quickview .text{
    color: var(--product-quick-view-color);
    background-color: var(--product-quick-view-bg);
}

.card-quickview .text:before,
.card-wishlist .text:before,
.card-compare .text:before{
    content: " ";
    position: absolute;
    top: 50%;
    left: auto;
    right: -7px;
    height: 0;
    width: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    transform: translateY(-50%);
}

.card-quickview .text:before{
    border-left: 7px solid var(--product-quick-view-bg);
}

.card-quickview .icon,
.card-wishlist .icon,
.card-compare .icon{
    width: 100%;
    height: 100%;
}

.card-quickview .icon{
    fill: var(--product-quick-view-color);
}

.card-quickview:not(.card-quickviewIcon){
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 4;
    transition: transform var(--duration-default) ease,visibility var(--duration-default) ease;
    transform: translate3d(-50%,calc(-50% - 10px),0);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    width: auto;
}

.card-quickview.card-quickviewIcon{
    display: none;
}

.card-wishlist .wishlist-icon{
    background-color: var(--product-wishlist-bg);
}

.card-wishlist .text{
    color: var(--product-wishlist-color);
    background-color: var(--product-wishlist-bg);
}

.card-wishlist .text:before{
    border-left: 7px solid var(--product-wishlist-bg);
}

.card-wishlist .icon{
    fill: var(--product-wishlist-color);
}

.card-wishlist .wishlist-added .text{
    color: var(--product-wishlist-color-added);
    background-color: var(--product-wishlist-bg-added);
}

.card-wishlist .wishlist-added .text:before{
    border-left-color: var(--product-wishlist-bg-added);
}

.card-wishlist .wishlist-added .icon{
    fill: var(--product-wishlist-color-added);
}

.card-compare .compare-icon{
    background-color: var(--product-compare-bg);
}

.card-compare .compare-label{
    display: inline-block;
    vertical-align: middle;
    font-size: calc(var(--font-size) - 3px);
    cursor: pointer;
    position: relative;
}

.card-compare .text{
    color: var(--product-compare-color);
    background-color: var(--product-compare-bg);
}

.card-compare .text:before{
    border-left: 7px solid var(--product-compare-bg);
}

.card-compare .icon{
    fill: var(--product-compare-color);
}

.card-compare .compare-checkbox:checked + .compare-label .text{
    color: var(--product-compare-color-added);
    background-color: var(--product-compare-bg-added);
}

.card-compare .compare-checkbox:checked + .compare-label .text:before{
    border-left-color: var(--product-compare-bg);
}

.card-compare .compare-checkbox:checked + .compare-label .icon{
    fill: var(--product-compare-color-added);
}

.card-compare .compare-icon.is-checked{
    background-color: var(--product-compare-bg-added);
}

.card-compare.card-compareIcon{
    display: none;
}

.card-compare:not(.card-compareIcon){
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: var(--anchor-transition);
    transition-duration: var(--duration-default);
}

.card-compare.card-compareIcon .compare-label{
    font-size: 0;
    letter-spacing: 0;
    padding: 0;
    position: static;
}

.card-product__group{
    position: absolute;
    z-index: 10;
    transition: transform var(--duration-default) ease,visibility var(--duration-default) ease;
}

.card-product__group.group-left,
.card-product__group.group-right{
    top: 10px;
    display: flex;
    flex-direction: column;
}

.card-product__group.group-left .card-product__group-item + .card-product__group-item,
.card-product__group.group-right .card-product__group-item + .card-product__group-item{
    margin-top: 10px;
}

.card-product__group.group-left{
    left: 10px;
    transform: translate3d(-10px,0,0);
}

.card-product__group.group-middle{
    top: 50%;
    left: 50%;
    transform: translate3d(-50%,calc(-50% - 10px),0);
}

.card-product__group.group-right{
    left: auto;
    right: 10px;
    transform: translate3d(10px,0,0);
}

.card-product__group.group-left .card-wishlist .text,
.card-product__group.group-left .card-quickview .text,
.card-product__group.group-left .card-compare .text{
    right: auto;
    left: calc(100% + 20px);
}

.card-product__group.group-left .card-wishlist .text:before,
.card-product__group.group-left .card-quickview .text:before,
.card-product__group.group-left .card-compare .text:before{
    border-left: none;
    right: auto;
    left: -7px;
}

.card-product__group.group-left .card-wishlist .text:before{
    border-right: 7px solid var(--product-wishlist-bg);
}

.card-product__group.group-left .card-quickview .text:before{
    border-right: 7px solid var(--product-quick-view-bg);
}

.card-product__group.group-left .card-compare .text:before{
    border-right: 7px solid var(--product-compare-bg-add);
}

.card-product__group.group-left .card-wishlist .wishlist-added .text:before{
    border-right-color: var(--product-wishlist-color-added);
}

.card-product__group.group-left .card-compare .compare-checkbox:checked + .compare-label .text:before{
    border-right-color: var(--product-compare-bg-added);
}

.card-action{
    margin: 22px 0 0 0;
}

.card-action .button{
    font-family: var(--product-action-font);
    font-size: var(--product-action-font-size);
    font-weight: var(--product-action-font-weight);
    text-transform: var(--product-action-text-transform);
    background-color: var(--product-action-bg);
    color: var(--product-action-color);
    border-color: var(--product-action-border);
    min-height: var(--product-action-min-height);
}

.card-action .variants-popup{
    display: block;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    top: auto;
    bottom: 60px;
    left: 0;
    width: 100%;
    background-color: var(--bg-white);
    box-shadow: 0 3px 7px 0 rgb(0, 0, 0, .2);
    max-height: calc(100% - 60px);
    z-index: 2;
    overflow-y: auto;
    transform: translate3d(0,30px,0);
    transition: transform var(--duration-default) ease, visibility var(--duration-default) ease;
}

.card-action .variants-popup-content{
    position: relative;
    padding: 3px 0 0 0;
}

.card-action .variants-popup-close{
    position: absolute;
    top: 7px;
    left: auto;
    right: 7px;
    color: inherit;
    line-height: 1;
    font-size: 0;
    letter-spacing: 0;
}

.card-action .variants-popup-close svg{
    width: 18px;
    height: 18px;
    fill: var(--icon);
    stroke: transparent;
}

.card-action .selector-wrapper{
    padding: 12px 0;
}

.card-action .selector-wrapper .form-label{
    font-size: calc(var(--font-size) + 1px);
    font-weight: var(--font-weight-semibold);
    padding: 3px 25px 0 25px;
}

.card-action .selector-wrapper .swatch-element{
    position: relative;
    padding: 0 25px;
    transition: var(--anchor-transition);
}

.card-action .selector-wrapper .single-label{
    display: block;
    font-size: calc(var(--font-size) - 1px);
    font-weight: var(--font-weight-semibold);
    color: var(--color-text2);
    padding: 9px 0;
    cursor: pointer;
}

.card-action .selector-wrapper .single-label .text{
    display: none;
    font-size: calc(var(--font-size) - 3px);
    font-weight: var(--font-weight-normal);
    color: var(--color-grey);
    margin: 0 0 0 5px;
}

.card-action .selector-wrapper .single-action{
    display: none;
    font-size: 0;
    letter-spacing: 0;
    padding: 0 0 12px 0;
}

.card-action .selector-wrapper .single-action .icon{
    fill: var(--icon);
    stroke: transparent;
    width: 16px;
    height: 16px;
    margin: 0 5px 0 0;
}

.card-action .selector-wrapper .single-action .text{
    display: inline-block;
    vertical-align: middle;
    font-size: calc(var(--font-size) - 3px);
    font-weight: var(--font-weight-normal);
    letter-spacing: var(--letter-spacing);
    line-height: var(--line-height);
    color: var(--form-label);
}

.card-action .selector-wrapper .single-option:checked + .single-label{
    text-decoration: underline;
    text-underline-position: under;
}

.card-action .selector-wrapper .swatch-element.soldout .single-label .text{
    display: inline-block;
    vertical-align: inherit;
}

.card-action .selector-wrapper .swatch-element.soldout .single-action{
    display: block;
}

.card-action .selector-wrapper .swatch-element.unavailable .single-label{
    opacity: .6;
    pointer-events: none;
}

.card-action .selector-wrapper .swatch-element + .swatch-element{
    border-top: 1px solid #e5e5e5;
}

.card-swatch{
    font-size: 0;
    letter-spacing: 0;
}

.card-swatch .swatch{
    display: block;
    width: 100%;
    position: relative;
}

.card-swatch .item{
    display: inline-block;
    vertical-align: top;
    margin: 0 5px;
    position: relative;
}

.card-swatch .item .tooltip{
    display: none;
    font-size: calc(var(--font-size) - 2px);
    font-weight: var(--font-weight-normal);
    color: var(--color-white);
    background: var(--color-global);
    text-align: center;
    position: absolute;
    bottom: 100%;
    left: 50%;
    padding: 2px 5px;
    z-index: 2;
    min-width: 40px;
    transform: translateX(-50%);
    margin: 0 0 10px 0;
    transition: var(--anchor-transition);
    white-space: nowrap;
    text-transform: capitalize;
}

.card-swatch .item .tooltip:before{
    content: '';
    position: absolute;
    bottom: -7px;
    left: 50%;
    height: 0;
    width: 0;
    border-top: 7px solid var(--color-global);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    transform: translateX(-50%);
}

.card-swatch .swatch-label{
    display: block;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    font-size: 0;
    letter-spacing: 0;
    width: 36px;
    height: 36px;
    margin: 0 auto;
    border: 2px solid var(--product-swatch-border);
    background: transparent;
    cursor: pointer;
    padding: 3px;
}

.card-swatch .swatch-label .pattern{
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.card-swatch .swatch-label.is-active{
    border-color: var(--product-swatch-border-active);
}

.card-swatch .item:first-child{
    margin-left: 0;
}

.card-swatch .item:last-child{
    margin-right: 0;
}

.card-swatch--grid{
    margin-top: 20px;
}

.card-swatch--slider{
    position: absolute;
    width: 100%;
    top: auto;
    left: 0;
    bottom: 0;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    padding: 8px;
    z-index: 3;
    background-color: var(--bg-white);
    transition: transform var(--duration-default) ease, visibility var(--duration-default) ease;
}

.product-item.quickshop-popup-show .card-action .variants-popup{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translate3d(0,0,0);
}

.product-item-custom .card-product{
    display: inline-block;
    vertical-align: top;
    width: 95px;
    height: 140px;
}

.product-item-custom .card-media{
    width: 100%;
    height: 100%;
}

.product-item-custom .card-information{
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 95px);
    padding: 0 25px 0 20px;
}

.product-item-custom .card-review{
    margin: 0 0 6px 0;
}

.product-item-custom .card-vendor{
    margin: 0 0 10px 0;
}

.product-item-custom .card-title{
    margin-bottom: 19px;
}

.card-vendor.animated-loading > a,
.card-title.animated-loading .text,
.card-price.animated-loading .price,
.card-action.animated-loading .button {
    opacity: 0;
    visibility: hidden;
}

@media (min-width: 551px){
    .card-information__group{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .card-information__group .card-vendor{
        width: calc(100% - 85px);
    }

    .card-information__group .card-review{
        width: 100px;
        margin-top: 0;
        text-align: right;
    }

    .card-information__group-2 .card-vendor,
    .card-information__group-2 .card-review{
        width: 100%;
    }

    .card-information__wrapper.text-center .card-information__group-2{
        justify-content: center;
    }

    .card-information__wrapper.text-left .card-information__group-2{
        justify-content: flex-start;
    }

    .card-information__wrapper.text-right .card-information__group-2{
        justify-content: flex-end;
    }
}

@media (min-width: 1025px){
    .quickview-button:hover{
        color: var(--product-quick-view-color-hover);
        background-color: var(--product-quick-view-bg-hover);
        border-color: var(--product-quick-view-bg-hover);
    }

    .card-quickview .quickview-icon:hover .text,
    .card-wishlist .wishlist-icon:hover .text,
    .card-compare .compare-icon:hover .text{
        right: calc(100% + 10px);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .card-product__group.group-left .card-wishlist .wishlist-icon:hover .text,
    .card-product__group.group-left .card-quickview .quickview-icon:hover .text,
    .card-product__group.group-left .card-compare .compare-icon:hover .text{
        left: calc(100% + 10px);
        right: auto;
    }

    .card-quickview.card-quickviewIcon,
    .card-compare.card-compareIcon{
        display: block;
    }

    .card-product__group{
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .card-action .button:hover{
        background-color: var(--product-action-bg-hover);
        color: var(--product-action-color-hover);
        border-color: var(--product-action-border-hover);
    }

    .card-action .selector-wrapper .single-action{
        position: absolute;
        top: 50%;
        right: 25px;
        z-index: 1;
        transform: translateY(-50%);
        padding-bottom: 0;
    }

    .card-action .selector-wrapper .swatch-element:hover{
        background-color: #e5e5e5;
    }

    .card-action .selector-wrapper .swatch-element + .swatch-element{
        border-top: none;
    }

    .card-swatch .item .tooltip{
        display: block;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .card-swatch .item:hover .tooltip{
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .card-swatch--slider{
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transform: translate3d(0,30px,0);
    }

    .card-product:hover .card-media.media--hover-effect > img:first-child:not(:only-child){
        opacity: 0;
    }

    .card-product:hover .card-media.media--hover-effect > img + img{
        opacity: 1;
        transition: transform var(--duration-long) ease;
        transform: scale(1.03);
    }

    .card:hover .card-quickview:not(.card-quickviewIcon){
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transform: translate3d(-50%,-50%,0);
    }

    .card:hover .card-compare:not(.card-compareIcon){
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .card:hover .card-wishlist{
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transform: translate3d(0,0,0);
    }

    .card:hover .card-product__group{
         opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .card:hover .card-product__group.group-left,
    .card:hover .card-product__group.group-right{
        transform: translate3d(0,0,0);
    }

    .card:hover .card-product__group.group-middle{
        transform: translate3d(-50%,-50%,0);
    }

    .card:hover .card-swatch--slider{
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transform: translate3d(0,0,0);
    }
}